{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% assign classes = "col-xs-3 sidebar collection-sidebar" %}
{% if product %}
{% assign classes = "col-xs-3 sidebar" %}
{% endif %}
<div class="{{classes}}"> {% if settings.display_sidebar_categories %}
  <div class="widget sidebar-links">
    <div class="widget-content">
      <ul>
        {% for link in linklists.b-tan-sidebar.links %}
        <li><a href="{{ link.url }}" {% if collection.handle contains link.handle %} class="active" {% endif %}>{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a> {% if linklists[link.handle].links.size > 0 %}
          <ul>
            {% for sublink in linklists.[link.handle].links %}
            <li><a href="{{ sublink.url }}" {% if collection.handle contains sublink.handle %} class="active" {% endif %}>{% comment %}ly_code_replace_for_[ sublink.title ]_begin{% endcomment %}{% include 'ly-title' with sublink %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
            {% endfor %}
          </ul>
          {% endif %} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>