{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<footer class="site-footer" role="contentinfo">
  <div class="very-bottom-footer">
    <div class="container">
      <div class="footer-text">
        <p class="brands"><a href="http://uk.store.marqueofbrands.com/?choose-country">{% comment %}ly_asset_replace_for_[ 'uk.png' | asset_url | img_tag: 'UK', '<ly-as-4214681>flag</ly-as-4214681>' ]_begin{% endcomment %}{% assign ly_asset = 'uk.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'UK', '<ly-as-4214681>flag</ly-as-4214681>' }}{% comment %}ly_asset_replace_end{% endcomment %}<span class="country-selector"><ly-as-4214682>COUNTRY SELECTOR</ly-as-4214682></span></a><ly-as-4214683>© 2017 MARQUE OF BRANDS PTY LTD. ALL RIGHTS RESERVED</ly-as-4214683></p>
      </div>
      <div class="bottom-footer-menu">
        <ul id="very-bottom-footer-menu" class="menu">
          {% assign globalBottomFooterLinks = "Global Very Bottom Footer Menu" | handleize %}
          {% for link in linklists.[globalBottomFooterLinks].links %}
            <li>{% comment %}ly_code_replace_for_[ link.title | link_to: link.url ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation | link_to: link.url }}{% comment %}ly_code_replace_end{% endcomment %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="quickViewOverlay_CountrySelector"></div>
  <div id="quickViewResponseData_CountrySelector">
    <div class="close-quickview">
      {% comment %}ly_asset_replace_for_[ 'icon-close.png' | asset_url | img_tag: 'close' ]_begin{% endcomment %}{% assign ly_asset = 'icon-close.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'close' }}{% comment %}ly_asset_replace_end{% endcomment %}
    </div>
    <p class="title"><ly-as-4214684>SELECT YOUR REGION</ly-as-4214684></p>
    <ul class="country-selector">
      <li>
        <a href="http://us.store.marqueofbrands.com/">{% comment %}ly_asset_replace_for_[ 'us.png' | asset_url | img_tag: 'US', '<ly-as-4214681>flag</ly-as-4214681>' ]_begin{% endcomment %}{% assign ly_asset = 'us.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'US', '<ly-as-4214681>flag</ly-as-4214681>' }}{% comment %}ly_asset_replace_end{% endcomment %}<ly-as-4214685>USA & Canada</ly-as-4214685></a>
      </li>
      <li>
        <a href="http://uk.store.marqueofbrands.com/">{% comment %}ly_asset_replace_for_[ 'uk.png' | asset_url | img_tag: 'UK', '<ly-as-4214681>flag</ly-as-4214681>' ]_begin{% endcomment %}{% assign ly_asset = 'uk.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'UK', '<ly-as-4214681>flag</ly-as-4214681>' }}{% comment %}ly_asset_replace_end{% endcomment %}<ly-as-4214686>United Kingdom</ly-as-4214686></a>
      </li>
      <li>
        <a href="http://eu.store.marqueofbrands.com/">{% comment %}ly_asset_replace_for_[ 'eu.png' | asset_url | img_tag: 'EU', '<ly-as-4214681>flag</ly-as-4214681>' ]_begin{% endcomment %}{% assign ly_asset = 'eu.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'EU', '<ly-as-4214681>flag</ly-as-4214681>' }}{% comment %}ly_asset_replace_end{% endcomment %}<ly-as-4214687>Europe</ly-as-4214687></a>
      </li>
      <li>
        <a href="http://au.store.marqueofbrands.com/">{% comment %}ly_asset_replace_for_[ 'au.png' | asset_url | img_tag: 'AU', '<ly-as-4214681>flag</ly-as-4214681>' ]_begin{% endcomment %}{% assign ly_asset = 'au.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'AU', '<ly-as-4214681>flag</ly-as-4214681>' }}{% comment %}ly_asset_replace_end{% endcomment %}<ly-as-4214688>Australia & NZ</ly-as-4214688></a>
      </li>
    </ul>
  </div>
  <script>
    jQuery(document).ready(function($) {
      function showQuickviewCountrySelector() {
        $('#quickViewResponseData_CountrySelector').show();
        $('#quickViewOverlay_CountrySelector').show();
      }
      function hideQuickviewCountrySelector() {
        $('#quickViewResponseData_CountrySelector').hide();
        $('#quickViewOverlay_CountrySelector').hide();
      }
      
      $('.close-quickview').on('click', function(){
        hideQuickviewCountrySelector();
      });
      
      $('#quickViewOverlay_CountrySelector').on('click', function(e){
        if(e.target !== e.currentTarget) return;
        hideQuickviewCountrySelector();
      });

      $('a[href*="choose-country"]').on('click', function(e) { // filter choose country links
        e.preventDefault();
        showQuickviewCountrySelector();
      });

      var url = window.location.href.toLowerCase();
      var curSrc = $('.footer-text .brands .flag').attr('src');
      var curHref = $('.footer-text .brands a').attr('href');
      if (url.indexOf("us.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'us.png');
        curHref = curHref.replace('uk.store', 'us.store');
      }
      if (url.indexOf("eu.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'eu.png');
        curHref = curHref.replace('uk.store', 'eu.store');
      }
      if (url.indexOf("au.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'au.png');
        curHref = curHref.replace('uk.store', 'au.store');
      }
      $('.footer-text .brands .flag').attr('src', curSrc);
      $('.footer-text .brands a').attr('href', curHref);
    });
  </script>
</footer>

{% include 'message-modal' %}
