{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.display_three_banner_bottom %}
<section class="banner-home-bottom container">
  <div class="widget-title wow fadeIn">   
	<fieldset class="box-title">
      <legend align="center">{% if settings.banner_home_bottom_title != blank %}
    	{% comment %}ly_new_settings_replace_for_[ settings.banner_home_bottom_title ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id4214721"] %}{% assign ly_translation = shop.metafields[namespace]["id4214721"] %}{% else %}{% assign ly_translation = settings.banner_home_bottom_title %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}
    	{% endif %}
      </legend>
    </fieldset>
  </div>
  <ul class="row">
    <li class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="{{ settings.time_lazy_load }}ms">
      <a href="{{ settings.three_banner_bottom_link_1 }}" title="{{ settings.three_banner_bottom_title_1 }}">{% comment %}ly_asset_replace_for_[ 'banner-home-bottom-1.jpg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'banner-home-bottom-1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}</a>
      <div class="des">
        {% if settings.display_banner_title_1  %}			
        {% if settings.three_banner_bottom_title_1 != blank %}
        <h4 style="{% if settings.three_banner_bottom_title_color_1 != blank %}
                   color: {{ settings.three_banner_bottom_title_color_1 }};
                   {% elsif settings.three_banner_bottom_title_color != blank %}
                   color: {{ settings.three_banner_bottom_title_color }};
                   {% endif %}
                   {% if settings.three_banner_bottom_title_size_1 != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size_1 }}px;
                   {% elsif settings.three_banner_bottom_title_size != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size }}px;
                   {% endif %} "
            >
          <span>{{ settings.three_banner_bottom_title_1 }}</span>
        </h4>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_description_1 %}
        {% if settings.three_banner_bottom_description_1 != blank %}
        <p style="{% if settings.three_banner_bottom_description_color_1 != blank %} 
                  color: {{ settings.three_banner_bottom_description_color_1 }};
                  {% elsif settings.three_banner_bottom_description_color != blank %}
                  color: {{ settings.three_banner_bottom_description_color }};
                  {% endif %}
                  {% if settings.three_banner_bottom_description_size_1 != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size_1 }}px;
                  {% elsif settings.three_banner_bottom_description_size != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size }}px;
                  {% endif %} "
           >
          {{ settings.three_banner_bottom_description_1 }}
        </p>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_button_1 %}
        {% if settings.three_banner_bottom_button_text_1 != blank %}
        <a href="{{ settings.three_banner_bottom_link_1 }}" title="{{ settings.three_banner_bottom_button_text_1 }}" class="btn">
          {{ settings.three_banner_bottom_button_text_1 }}
          <span class="arrow"><ly-as-4214722>arrow</ly-as-4214722></span>
        </a>		
        {% endif %}
        {% endif %}
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="{{ settings.time_lazy_load | times: 2 }}ms">
      <a href="{{ settings.three_banner_bottom_link_2 }}" title="{{ settings.three_banner_bottom_title_2 }}">{% comment %}ly_asset_replace_for_[ 'banner-home-bottom-2.jpg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'banner-home-bottom-2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}</a>
      <div class="des">
        {% if settings.display_banner_title_2 %}
        {% if settings.three_banner_bottom_title_2 != blank %}
        <h4 style="{% if settings.three_banner_bottom_title_color_2 != blank %} 
                   color: {{ settings.three_banner_bottom_title_color_2 }};
                   {% elsif settings.three_banner_bottom_title_color != blank %}
                   color: {{ settings.three_banner_bottom_title_color }};
                   {% endif %}
                   {% if settings.three_banner_bottom_title_size_2 != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size_2 }}px;
                   {% elsif settings.three_banner_bottom_title_size != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size }}px;
                   {% endif %} "
            >
          <span>{{ settings.three_banner_bottom_title_2  }}</span>
        </h4>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_description_2 %}
        {% if settings.three_banner_bottom_description_2 != blank %}
        <p style="{% if settings.three_banner_bottom_description_color_2 != blank %} 
                  color: {{ settings.three_banner_bottom_description_color_2 }};
                  {% elsif settings.three_banner_bottom_description_color != blank %}
                  color: {{ settings.three_banner_bottom_description_color }};
                  {% endif %}
                  {% if settings.three_banner_bottom_description_size_2 != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size_2 }}px;
                  {% elsif settings.three_banner_bottom_description_size != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size }}px;
                  {% endif %} "
           >
          {{ settings.three_banner_bottom_description_2 }}
        </p>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_button_2 %}
        {% if settings.three_banner_bottom_button_text_2 != blank %}
        <a href="{{ settings.three_banner_bottom_link_2 }}" title="{{ settings.three_banner_bottom_button_text_2 }}" class="btn">
          {{ settings.three_banner_bottom_button_text_2 }}
          <span class="arrow"><ly-as-4214722>arrow</ly-as-4214722></span>
        </a>
        {% endif %}
        {% endif %}
      </div>
	</li>
    <li class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="{{ settings.time_lazy_load | times: 3 }}ms">
      <a href="{{ settings.three_banner_bottom_link_3 }}" title="{{ settings.three_banner_bottom_title_3 }}">{% comment %}ly_asset_replace_for_[ 'banner-home-bottom-3.jpg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'banner-home-bottom-3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}</a>
      <div class="des">
        {% if settings.display_banner_title_3 %}
        {% if settings.three_banner_bottom_title_3 != blank %}
        <h4 style="{% if settings.three_banner_bottom_title_color_3 != blank %} 
                   color: {{ settings.three_banner_bottom_title_color_3 }};
                   {% elsif settings.three_banner_bottom_title_color != blank %}
                   color: {{ settings.three_banner_bottom_title_color }};
                   {% endif %}
                   {% if settings.three_banner_bottom_title_size_3 != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size_3 }}px;
                   {% elsif settings.three_banner_bottom_title_size != blank %}
                   font-size: {{ settings.three_banner_bottom_title_size }}px;
                   {% endif %} "
            >
          <span>
            {{ settings.three_banner_bottom_title_3 }}
          </span>
        </h4>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_description_3 %}
        {% if settings.three_banner_bottom_description_3 != blank %}
        <p style="{% if settings.three_banner_bottom_description_color_3 != blank %} 
                  color: {{ settings.three_banner_bottom_description_color_3 }};
                  {% elsif settings.three_banner_bottom_description_color != blank %}
                  color: {{ settings.three_banner_bottom_description_color }};
                  {% endif %}
                  {% if settings.three_banner_bottom_description_size_3 != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size_3 }}px;
                  {% elsif settings.three_banner_bottom_description_size != blank %}
                  font-size: {{ settings.three_banner_bottom_description_size }}px;
                  {% endif %} "
           >
          {{ settings.three_banner_bottom_description_3 }}
        </p>
        {% endif %}
        {% endif %}
        {% if settings.display_banner_button_3 %}
        {% if settings.three_banner_bottom_button_text_3 != blank %}
        <a href="{{ settings.three_banner_bottom_link_3 }}" title="{{ settings.three_banner_bottom_button_text_3 }}" class="btn">
          {{ settings.three_banner_bottom_button_text_3 }}
          <span class="arrow"><ly-as-4214722>arrow</ly-as-4214722></span>
        </a>
        {% endif %}
        {% endif %}
      </div>
	</li>
  </ul>
</section>
{% endif %}